@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgb(0,0,0,0.1)50%,rgb(0,0,0,0.1)50%) ;
}
    /* first class */
/* *********************************** */
.first{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lg img{
    width: 100px;
}
.logo > span{
    font-family: 'poppins';
    font-weight: 600;
    font-size: 17px;
    color: white;
}
.menu{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    gap: 8%;
    list-style: none;
}
.nav-links li {
    height: 100px;
}
.nav-links a{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'poppins';
    font-weight: 600;
    transition: 0.4s ease-in-out;
}
.menu #home a{
    color: #ff7200;
}
.nav-links li a:hover{
    transform: translateY(-3px);
    color: #ff7200;
}

.toggle{
    display: none;
}
.first #video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.bigtitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-left: 40px;
    gap: 20px;
}
.title{
    font-family: 'poppins';
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}
.btn{
    width: 11%;
    height: 8%;
}
.btn a{
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}
.btn button {
    width: 100%;
    height: 100%;
    background: #ff7200;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn button:hover{
    color: white;
}

/* end first class */
/* *********************************** */
    /* second class */
/* *********************************** */

.second{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}
.title-car{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.row{
    width: 100%;
    height: auto;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}

.pop-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    justify-content: space-evenly;
}
.img{
    height: 50%;
    /* background-color: red; */
}
.img-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.pop-img img{
    width: 100%;
    height: 100%;
}
.pop-img a{
    text-decoration: none;
    color: rebeccapurple;
    width: 45%;
    height: 40px;
    margin-bottom: 10px;
}
.pop-img button {
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid rebeccapurple;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.pop-img button:hover{
    background-color: rebeccapurple;
    color: white;
}




    /* footer class */
/* *********************************** */

.footer{
    width: 100%;
    height: 50vh;
    background-color: #064663;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px 0px 10px 0px;
}
.fo-row1{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}
.fo-col{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fo-cont{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;  
}
.fo-cont Strong{
    font-family: 'poppins';
    font-size: 1rem;
    color: #fff;
}
.h-line{
    width: 90%;
    height: 1.5px;
    background: #fff;
}
.fo-cont p{
    color: #fff;
}
.social{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}
.social a{
    color: #fff;
    /* background-color: #04293A; */
    width: 20%;
    height: auto;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
	transition: all 0.5s ease-in-out;
}
.social a:hover{
    transform: translateY(-3px);
}
.fo-ul{
    width: 100%;
    height: 60%;
    list-style: none;
}
.fo-ul ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fo-ul ul li{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fo-ul ul li a{
    text-decoration: none;
    color: #fff;
	transition: all 0.2s ease;
}
.fo-ul ul li a:hover{
    padding-left: 8px;
    color: #9A0680;
}
.copy{
    width: 100%;
    height: 10vh;
    text-align: center;
}
.copy h2{
    font-family: 'poppins';
    font-size: 1rem;
    color: #fff;
}






/* responisve */
/* ****************************** */
@media(max-width:768px){
    /* first class */
/* *********************************** */
    .title{
        font-size: 2rem;
    }
    .btn{
        width: 14%;
        height: 9%;
    }
    .second-title{
        font-size: 2rem;
    }
    .small{
        font-size: 2rem;
    }
    /* end first class */
/* *********************************** */
    .title-car{
        font-size: 1.5rem;
    }

    /* footer class */
/* *********************************** */
    .footer{
        height: auto;
    }
    .fo-cont p{
        font-size: 0.9rem;
    }
    .social{
        font-size: 1.1rem;
    }
    .row{
        grid-template-columns: repeat(2, 1fr);
    }

}


@media(max-width:426px){
    /* first class */
/* *********************************** */
    .navbar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px 20px 0px;
        
    }
    .menu{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        display: none;
        background-color: #000;
        z-index: 1;
        height: 92vh;
    }
    .nav-links li{
        display: flex;
        flex-direction: column;
        height: 50px;
        width: 100%;
    }
    .nav-links.show{
        display: flex;
    }
    .nav-links a{
        font-size: 1.3rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .toggle{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        color: white;
    }
    .logo{
        width: 30%;
    }
    .lg img{
        width: 70px;
    }
    .logo > span{
        font-size: 1rem;
    }
    .title{
        font-size: 1.5rem;
    }
    .btn{
        width: 28%;
        height: 12%;
    }
    /* end first class */
/* *********************************** */
    /* second class */
/* *********************************** */
    /* footer */
/* *********************************** */
    .footer{
        display: flex;
        flex-direction: column;
    }
    .fo-row1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .fo-col{
        width: 100%;
    }


    .row{
        grid-template-columns: repeat(1, 1fr);
    }
}



@media(max-width:414px){
    /* first class */
/* *********************************** */
    .title{
        font-size: 1rem;
    }
    .btn{
        width: 34%;
        height: 6%;
    }


    .first #video {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}